# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/


.env


# Firebase
ui-debug.log
firebase-debug.log

# service key for using cloud storage in cloud functions
solar-ad-tester-2-firebase-adminsdk-3iokc-bd8ce8732d.json